/*.navbar-custom {
  background: transparent;
  border-bottom: 1px solid transparent;
  color: #777777;
}

.navbar-custom  .nav li a {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 1px;
  font-weight: bold;
  color: #fff;
}

.navbar-custom .nav li a:hover {
     color:#fff;
     font-style: italic;
} */

.btn-standard {
    background-color: #fff;
    border-color: #fff;
    color: #045089;
     font-size: 18px;
}

.th-btn {
    margin: 8px 5px;

}

.btn {
    padding: 10px 45px;
    border-radius: 50px;
    white-space: normal;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }

  .btn-primary {
    color: #fff;
    background-color: transparent;
    border-color: #2e6da4;
}



/*
.navbar-default .navbar-brand {
   color:#fff;
}
*/

.img-responsive {
  padding: 15px;
   margin: 0 auto;
}

.navbar-inverse .navbar-toggle {
    border-color: #333;
    color: #fff;
}

.med-icon {
    font-size: 45px;
}

 .service-block i {
    float: left;
}

 .service-block h3 {
    margin-top: 0;
    padding-top: 4px;
    margin-left: 60px;
}

.service-block p {
    margin-left: 60px;
}

.showcase {
    padding-top: 50px;
    padding-bottom: 40px;
}

.intro-header {
/*  background-color: #777777;*/
  background: no-repeat center center;
  background-attachment: scroll;
  margin-bottom: 0px;

}
.intro-header .site-heading,
.intro-header .post-heading,
.intro-header .page-heading {

  padding: 110px 0 0px;
  color: white;
}
