/*.navbar-custom {
  background: transparent;
  border-bottom: 1px solid transparent;
  color: #777777;
}

.navbar-custom  .nav li a {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 1px;
  font-weight: bold;
  color: #fff;
}

.navbar-custom .nav li a:hover {
     color:#fff;
     font-style: italic;
} */

.btn-standard {
    background-color: #fff;
    border-color: #fff;
    color: #045089;
     font-size: 18px;
}

.th-btn {
    margin: 8px 5px;

}

.btn {
    padding: 10px 45px;
    border-radius: 50px;
    white-space: normal;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }

/*
.navbar-default .navbar-brand {
   color:#fff;
}
*/

.img-responsive {
  padding: 15px;
   margin: 0 auto;
}

.intro-header {
  background-color: #777777;
  background: no-repeat center center;
  background-attachment: scroll;
  margin-bottom: 50px;

}
.intro-header .site-heading,
.intro-header .post-heading,
.intro-header .page-heading {

  padding: 70px 0 0px;
  color: white;
}
